@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Cera Pro';
  src: url('/fonts/CeraPro-Italic.woff') format('woff'),
    url('/fonts/CeraPro-Italic.ttf') format('truetype'),
    url('/fonts/CeraPro-Italic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('/fonts/CeraPro-Regular.woff') format('woff'),
    url('/fonts/CeraPro-Regular.ttf') format('truetype'),
    url('/fonts/CeraPro-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('/fonts/CeraPro-BlackItalic.woff') format('woff'),
    url('/fonts/CeraPro-BlackItalic.ttf') format('truetype'),
    url('/fonts/CeraPro-BlackItalic.eot?#iefix') format('embedded-opentype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('/fonts/CeraPro-Light.woff') format('woff'),
    url('/fonts/CeraPro-Light.ttf') format('truetype'),
    url('/fonts/CeraPro-Light.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('/fonts/CeraPro-BoldItalic.woff') format('woff'),
    url('/fonts/CeraPro-BoldItalic.ttf') format('truetype'),
    url('/fonts/CeraPro-BoldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('/fonts/CeraPro-Black.woff') format('woff'),
    url('/fonts/CeraPro-Black.ttf') format('truetype'),
    url('/fonts/CeraPro-Black.eot?#iefix') format('embedded-opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('/fonts/CeraPro-Medium.woff') format('woff'),
    url('/fonts/CeraPro-Medium.ttf') format('truetype'),
    url('/fonts/CeraPro-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('/fonts/CeraPro-Bold.woff') format('woff'),
    url('/fonts/CeraPro-Bold.ttf') format('truetype'),
    url('/fonts/CeraPro-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('/fonts/CeraPro-Thin.woff') format('woff'),
    url('/fonts/CeraPro-Thin.ttf') format('truetype'),
    url('/fonts/CeraPro-Thin.eot?#iefix') format('embedded-opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('/fonts/CeraPro-MediumItalic.woff') format('woff'),
    url('/fonts/CeraPro-MediumItalic.ttf') format('truetype'),
    url('/fonts/CeraPro-MediumItalic.eot?#iefix') format('embedded-opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('/fonts/CeraPro-LightItalic.woff') format('woff'),
    url('/fonts/CeraPro-LightItalic.ttf') format('truetype'),
    url('/fonts/CeraPro-LightItalic.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('/fonts/CeraPro-ThinItalic.woff') format('woff'),
    url('/fonts/CeraPro-ThinItalic.ttf') format('truetype'),
    url('/fonts/CeraPro-ThinItalic.eot?#iefix') format('embedded-opentype');
  font-weight: 100;
  font-style: italic;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Cera Pro', sans-serif;
  background-color: #151516; /* Основной фон */
  color: #f0ede8; /* Основной текст */
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none; /* Избежание скачков при прокрутке */
  -webkit-font-smoothing: antialiased; /* Сглаживание текста */
}

footer {
  background-color: #000000; /* Фон футера */
  color: #f0ede8; /* Цвет текста футера */
  padding: 20px;
  text-align: center;
}
/*
a.underline,
a.underline:hover,
.hover\:underline:hover {
  text-decoration: underline;
  text-underline-offset: 0.25em; */ /* Зависит от размера шрифта */ /*
  text-decoration-thickness: 0.08em;*/ /* Толщина линии относительно текста */ /*
}*/

a.underline,
a.underline:hover,
li.underline,
li.underline:hover,
.hover\:underline:hover {
  text-decoration: underline;
  text-underline-offset: 0.25em;
  text-decoration-thickness: 0.08em;
  text-decoration-skip-ink: auto; /* Обеспечивает аккуратное пересечение линий */
  -webkit-font-smoothing: antialiased; /* Для сглаживания */
  -moz-osx-font-smoothing: grayscale; /* Для Firefox */
}

/* Специфическая корректировка для Safari */
@supports (-webkit-text-decoration-thickness: 1px) {
  a.underline,
  a.underline:hover,
  li.underline,
  li.underline:hover,
  .hover\:underline:hover {
    -webkit-text-decoration-thickness: 0.06em; /* Используется только в Safari */
    text-decoration-thickness: initial; /* Убирает конфликт с другими браузерами */
    -webkit-font-smoothing: antialiased; /* Для сглаживания */
    -moz-osx-font-smoothing: grayscale; /* Для Firefox */
  }
}

input {
  -webkit-appearance: none; /* Открываем дорогу прямоугольным интерфейсам! */
  border-radius: 0; /* Углы под надежным наблюдением */
}

/* Убираем стандартные стили автозаполнения */
input:-webkit-autofill {
  background-color: transparent !important; /* Убираем фон */
  color: inherit !important; /* Используем цвет текста, заданный пользователем */
  transition: background-color 0s, color 0s; /* Убираем плавные переходы */
}

/* Дополнительно для всех браузеров с поддержкой автозаполнения */ /* Общий сброс стилей автозаполнения */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  background-color: transparent !important;
  color: inherit !important;
  box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  transition: background-color 0s, color 0s;
}

/* Для Safari */
input:autofill {
  background-color: transparent !important;
  color: inherit !important;
}

@layer utilities {
  .no-autocomplete {
    -webkit-autofill: off !important;
    -moz-autofill: off !important;
    autocomplete: off !important;
  }
}
